.demo-root {
  width: 100%;
  display: flex;
  font-family: Roboto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.demo-label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin: 50px 0 25px;
}
.demo-label-high {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin: 50px 0 90px;
}
.demo-subLabel {
  margin-bottom: 20px;
}
.demo-editorSection {
  display: flex;
  justify-content: space-between;
}
.demo-wrapper {
  width: 600px;
  display: block;
  margin-bottom: 50px;
  height: 450px;
}
.demo-wrapper-wide {
  width: 810px;
  display: block;
  margin-bottom: 50px;
  height: 355px;
}
.demo-wrapper-medium {
  width: 650px;
  display: block;
  margin-bottom: 50px;
  height: 300px;
}
.demo-editor {
  height: 80%;
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 2px;
}
.demo-editorWrapper {
}
.demo-toolbar {
  width: 100%;
}
.demo-content {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  border-radius: 2px;
  height: 425px;
  margin-left: 30px;
  resize: none;
  margin-top: 127px;
  height: 355px;
}
.demo-toolbar-absolute {
  position: absolute;
  top: -40px;
  width: 550px;
  border-radius: 3px;
  background: #f3f3f3;
  border: 1px solid #e3e3e3;
}
.demo-toolbar-absolute-high {
  position: absolute;
  top: -80px;
  width: 550px;
  border-radius: 3px;
  background: #f3f3f3;
  border: 1px solid #e3e3e3;
}
.demo-editor-plain {
  height: 80%;
  border-width: 0px;
}
.demo-editor-embedded {
  height: 90%;
  border-width: 0px;
}
.demo-wrapper-relative {
  width: 715px;
  display: block;
  position: relative;
  margin-bottom: 50px;
  height: 200px;
}
.demo-wrapper-relative-long {
  width: 715px;
  display: block;
  position: relative;
  margin-bottom: 50px;
  height: 450px;
}
.bordered-option-classname {
  border: 1px solid #e3e3e3;
}
.demo-toolbar-absolute > div:not(:last-of-type) {
  border-right: 2px solid #e3e3e3;
  padding-right: 5px;
}
.demo-toolbar-absolute > div:not(:first-of-type) {
  padding-left: 5px;
}
.demo-toolbar-custom {
  width: 100%;
  border-color: rgb(0,47,126);
  background-color: #9EBEF5;
}
.demo-editor-custom {
  height: 200px;
  border: 1px solid #F1F1F1;
  padding: 5px;
  height: 75%;
  border-radius: 2px;
  border-color: rgb(0,47,126);
}
.demo-option-custom {
  width: 15px;
  height: 15px;
  border-color: rgb(0,47,126);
  color: rgb(0,47,126);
}
.demo-option-custom-wide {
  width: 125px;
  height: 25px;
  border-color: rgb(0,47,126);
  color: rgb(0,47,126);
}
.demo-option-custom-medium {
  height: 25px;
  border-color: rgb(0,47,126);
  color: rgb(0,47,126);
}
.demo-dropdown-custom {
  border-color: rgb(0,47,126);
}
.demo-popup-custom {
  border-color: rgb(0,47,126);
  padding: 5px;
}
.demo-popup-custom input {
  border-color: rgb(0,47,126);
}
.demo-popup-custom button {
  border-color: rgb(0,47,126);
}
