.demo-root {
  width: 100%;
  display: flex;
  font-family: Roboto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.demo-label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin: 50px 0;
}
.demo-editorSection {
  display: flex;
  justify-content: space-between;
}
.demo-wrapper {
  width: 500px;
  display: block;
  margin-bottom: 50px;
}
.demo-wrapper-wide {
  width: 715px;
  display: block;
  margin-bottom: 50px;
}
.demo-editor {
  height: 400px;
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 2px;
}
.demo-editorWrapper {
}
.demo-toolbar {
  width: 100%;
}
.demo-content {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  border-radius: 2px;
  height: 425px;
  margin-left: 30px;
  resize: none;
}
.demo-toolbar-absolute {
  position: absolute;
  top: -40px;
  width: 550px;
  border-radius: 3px;
  background: #f3f3f3;
  border: 1px solid #e3e3e3;
}
.demo-editor-plain {
  height: 200px;
  border-width: 0px;
}
.demo-wrapper-relative {
  width: 715px;
  display: block;
  position: relative;
  margin-bottom: 50px;
}
.demo-toolbar-absolute div {
  border-color: #e3e3e3 !important;
}
.demo-toolbar-absolute > div:not(:last-of-type) {
  border-right: 2px solid #e3e3e3;
  padding-right: 5px;
}
.demo-toolbar-absolute > div:not(:first-of-type) {
  padding-left: 5px;
}
.demo-toolbar-custom {
  width: 100%;
  border-color: #ff7e7e;
}
.demo-toolbar-custom div {
  color: #ff7e7e !important;
  border-color: #ff7e7e !important;
}
.demo-editor-custom {
  height: 200px;
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 2px;
  border-color: #ff7e7e;
}
