.fontfamily-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.fontfamily-dropdown {
  width: 115px;
}
.fontfamily-option {
}
.fontfamily-placeholder {
  white-space: nowrap;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fontfamily-optionwrapper {
  width: 140px;
}
