{
  "parser": "babel-eslint",
  "plugins": [ "mocha" ],
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "describe": true,
    "it": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "import/no-unresolved": 2,
    "import/no-extraneous-dependencies": 0,
    "linebreak-style": [
      "error",
      "unix"
    ],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0
  }
}
