{
  "parser": "babel-eslint",
  "plugins": [ "mocha" ],
  "extends": "airbnb",
  "globals": {
    "describe": true,
    "it": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "jsx-a11y/no-static-element-interactions": 0
  }
}
