.rdw-text-align-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.rdw-text-align-dropdown {
  width: 50px;
  z-index: 90;
}
.rdw-text-align-dropdownOption {
  height: 40px;
  display: flex;
  justify-content: center;
}
.rdw-right-aligned-block {
  text-align: right;
}
.rdw-left-aligned-block {
  text-align: left;
}
.rdw-center-aligned-block {
  text-align: center;
}
.rdw-justify-aligned-block {
  text-align: justify;
}
.rdw-right-aligned-block > div {
  display: inline-block;
}
.rdw-left-aligned-block > div {
  display: inline-block;
}
.rdw-center-aligned-block > div {
  display: inline-block;
}
.rdw-justify-aligned-block > div {
  display: inline-block;
}
.rdw-indent-0 {
  margin-left: 0;
}
.rdw-indent-2em {
  margin-left: 2em;
}
.rdw-indent-4em {
  margin-left: 4em;
}
.rdw-indent-6em {
  margin-left: 6em;
}
.rdw-indent-8em {
  margin-left: 8em;
}
.rdw-indent-10em {
  margin-left: 10em;
}
.rdw-indent-12em {
  margin-left: 12em;
}
.rdw-indent-14em {
  margin-left: 14em;
}
.rdw-indent-16em {
  margin-left: 16em;
}
