.rdw-text-align-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  flex-wrap: wrap
}
.rdw-text-align-dropdown {
  width: 50px;
  z-index: 90;
}
.rdw-text-align-dropdownOption {
  height: 40px;
  display: flex;
  justify-content: center;
}
.rdw-right-aligned-block {
  text-align: right;
}
.rdw-left-aligned-block {
  text-align: left !important;
}
.rdw-center-aligned-block {
  text-align: center !important;
}
.rdw-justify-aligned-block {
  text-align: justify !important;
}
.rdw-right-aligned-block > div {
  display: inline-block;
}
.rdw-left-aligned-block > div {
  display: inline-block;
}
.rdw-center-aligned-block > div {
  display: inline-block;
}
.rdw-justify-aligned-block > div {
  display: inline-block;
}
/* indent/outdent */
.rdw-text-indent-0 {
  text-indent: 0;
}
.rdw-text-indent-2em {
  text-indent: 2em;
}
.rdw-text-indent-4em {
  text-indent: 4em;
}
.rdw-text-indent-6em {
  text-indent: 6em;
}
.rdw-text-indent-8em {
  text-indent: 8em;
}
.rdw-text-indent-10em {
  text-indent: 10em;
}
.rdw-text-indent-12em {
  text-indent: 12em;
}
.rdw-text-indent-14em {
  text-indent: 14em;
}
.rdw-text-indent-16em {
  text-indent: 16em;
}
