.demo4-root {
  margin: 50px;
}
.demo4-label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.demo4-wrapper {
  height: 400px;
  width: 675px;
  margin-top: 100px;
}
.demo4-editor {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 2px;
  height: 95%;
}
.demo4-editorWrapper {
  margin-top: 75px;
}
.demo4-toolbar {
  width: 100%;
  top: -70px;
}
.demo4-content {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 5px;
  height: 200px;
  width: 675px;
  margin-top: 25px;
}
