.demo-root {
  width: 100%;
  display: flex;
  font-family: Roboto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.demo-label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin: 50px 0 25px;
}
.demo-label-high {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin: 50px 0 90px;
}
.demo-subLabel {
  margin-bottom: 20px;
}
.demo-editorSection {
  display: flex;
  justify-content: space-between;
}
.demo-wrapper {
  width: 600px !important;
  display: block !important;
  margin-bottom: 50px !important;
  height: 450px !important;
}
.demo-wrapper-wide {
  width: 810px !important;
  display: block !important;
  margin-bottom: 50px !important;
  height: 355px !important;
}
.demo-wrapper-medium {
  width: 650px !important;
  display: block !important;
  margin-bottom: 50px !important;
  height: 300px !important;
}
.demo-editor {
  height: 80% !important;
  border: 1px solid #F1F1F1 !important;
  padding: 5px !important;
  border-radius: 2px !important;
}
.demo-editorWrapper {
}
.demo-content {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  border-radius: 2px;
  height: 425px;
  margin-left: 30px;
  resize: none;
  margin-top: 127px;
  height: 355px;
}
.demo-toolbar-absolute {
  position: absolute !important;
  top: -40px !important;
  width: 550px !important;
  border-radius: 3px !important;
  background: #f3f3f3 !important;
  border: 1px solid #e3e3e3 !important;
}
.demo-toolbar-absolute-high {
  position: absolute !important;
  top: -80px !important;
  width: 550px !important;
  border-radius: 3px !important;
  background: #f3f3f3 !important;
  border: 1px solid #e3e3e3 !important;
}
.demo-editor-plain {
  height: 80% !important;
  border-width: 0px !important;
}
.demo-editor-embedded {
  height: 90% !important;
  border-width: 0px !important;
}
.demo-wrapper-relative {
  width: 715px !important;
  display: block !important;
  position: relative !important;
  margin-bottom: 50px !important;
  height: 200px !important;
}
.demo-wrapper-relative-long {
  width: 715px !important;
  display: block !important;
  position: relative !important;
  margin-bottom: 50px !important;
  height: 450px !important;
}
.bordered-option-classname {
  border: 1px solid #e3e3e3 !important;
}
.demo-toolbar-absolute > div:not(:last-of-type) {
  border-right: 2px solid #e3e3e3;
  padding-right: 5px;
}
.demo-toolbar-absolute > div:not(:first-of-type) {
  padding-left: 5px;
}
.demo-toolbar-custom {
  border-color: rgb(0,47,126) !important;
  background-color: #9EBEF5 !important;
}
.demo-editor-custom {
  height: 200px !important;
  border: 1px solid #F1F1F1 !important;
  padding: 5px !important;
  height: 75% !important;
  border-radius: 2px !important;
  border-color: rgb(0,47,126) !important;
}
.demo-option-custom {
  width: 15px !important;
  height: 15px !important;
  border-color: rgb(0,47,126) !important;
  color: rgb(0,47,126);
}
.demo-option-custom-wide {
  width: 125px !important;
  height: 25px !important;
  border-color: rgb(0,47,126) !important;
  color: rgb(0,47,126) !important;
}
.demo-option-custom-medium {
  height: 25px !important;
  border-color: rgb(0,47,126) !important;
  color: rgb(0,47,126) !important;
}
.demo-dropdown-custom {
  border-color: rgb(0,47,126) !important;
}
.demo-popup-custom {
  border-color: rgb(0,47,126) !important;
  padding: 5px !important;
}
.demo-popup-custom input {
  border-color: rgb(0,47,126) !important;
}
.demo-popup-custom button {
  border-color: rgb(0,47,126) !important;
}
