.dropdown-wrapper {
  height: 30px;
  background: white;
  cursor: pointer;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
  margin: 0 3px;
  text-transform: capitalize;
  background: white;
}
.dropdown-wrapper:focus {
  outline: none;
}
.dropdown-wrapper:hover {
  box-shadow: 1px 1px 0px #BFBDBD;
  background-color: #FFFFFF;
}
.dropdown-wrapper:active {
  box-shadow: 1px 1px 0px #BFBDBD inset;
}
.dropdown-carettoopen {
  height: 0px;
  width: 0px;
  content: -;
  position: absolute;
  top: 35%;
  right: 10%;
  border-top: 6px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.dropdown-carettoclose {
  height: 0px;
  width: 0px;
  content: -;
  position: absolute;
  top: 35%;
  right: 10%;
  border-bottom: 6px solid #666;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.dropdown-selectedtext {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  padding: 0 5px;
}
.dropdown-optionwrapper {
  z-index: 100;
  position: relative;
  border: 1px solid #F1F1F1;
  width: 98%;
  background: white;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}
.dropdown-optionwrapper:hover {
  box-shadow: 1px 1px 0px #BFBDBD;
  background-color: #FFFFFF;
}
