.menu-root {
  width: 120px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-right: 1px solid #a21717;
}
.menu-option {
  margin-top: 25px;
  text-decoration: none;
  font-size: 18px;
  font-family: Roboto;
  cursor: pointer;
  color: black;
}
.menu-option:hover {
  color: #a21717;
}
.menu-option-active {
  color: #a21717;
}
