.suggestion-wrapper {
  position: relative;
}
.suggestion-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 15px;
  border: 1px solid #F1F1F1;
  min-width: 100px;
  max-height: 150px;
  overflow: auto;
  background: white;
  z-index: 100;
}
.suggestion-option {
  padding: 7px 5px;
}
.suggestion-option:hover {
  background-color: #F1F1F1;
}
