.app-root {
  width: 100%;
}
.header {
  height: 125px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  color: white;
  background: #a21717;
}
.header-label {
  color: white;
  text-decoration: none;
}
.flex-layout {
  display: flex;
  min-height: 600px;
}
.github {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  height: 140px;
}
.footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a21717;
  color: white;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
}
.author-link {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}
.header-text {
  display: flex;
  flex-direction: column;
}
.header-title {
  font-size: 50px;
}
.header-subtitle {
  text-align: right;
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
}
.header-logo {
  width: 70px;
  margin-left: 50px;
  cursor: pointer;
}
