.app-root {
  width: 100%;
}
.app-header {
  height: 150px;
  width: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  color: white;
  background: rgb(249, 64, 46);
}
.flex-layout {
  display: flex;
  min-height: 600px;
}
.gitLink {
  position: absolute;
  width: 150px;
  right: 20px;
  top: 20px;
  height: 50px;
}
.app-footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 64, 46);
  color: white;
  font-size: 18px;
  font-family: cursive;
}
.app-href {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  font-weight: bold;
}
