.rdw-text-align-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.rdw-text-align-dropdown {
  width: 50px;
  z-index: 90;
}
.rdw-text-align-dropdownOption {
  height: 40px;
  display: flex;
  justify-content: center;
}
.rdw-right-aligned-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.rdw-left-aligned-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.rdw-center-aligned-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rdw-justify-aligned-block {
  display: flex;
  flex-direction: row;
}
