.demo2-root {
  margin: 50px;
  width: 100%;
}
.demo2-label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.demo2-editorSection {
  display: flex;
  justify-content: space-between;
}
.demo2-wrapper {
  height: 400px;
  width: 600px;
  margin-top: 25px;
}
.demo2-editor {
  padding: 5px;
  height: 95%;
}
.demo2-editorWrapper {
  margin-top: 20px;
}
.demo2-toolbar {
  width: 600px;
  top: -75px;
}
.demo2-content {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  border-radius: 2px;
  height: 380px;
}
