.demo1-root {
  margin: 50px;
  width: 90%;
}
.demo1-label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.demo1-editorSection {
  display: flex;
  margin-top: 125px;
  justify-content: space-between;
}
.demo1-wrapper {
  height: 400px;
  width: 600px;
}
.demo1-editor {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 2px;
  height: 95%;
}
.demo1-editorWrapper {
}
.demo1-toolbar {
  width: 100%;
  top: -100px;
}
.demo1-content {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  border-radius: 2px;
  height: 380px;
}
.no-focus:focus {
  outline: none;
}
