.rdw-button-decorator-wrapper {
  position: relative;
  background-color: #48C13A;
  padding: 16px 60px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  line-height: 4;
}