.rdw-quick-response-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  position: relative;
}
.rdw-quick-response-dropdown {
  width: 50px;
}
.rdw-quick-response-dropdownOption {
  height: 40px;
  display: flex;
  justify-content: center;
}
.rdw-quick-response-dropdownPlaceholder {
  margin-left: 8px;
}
.rdw-quick-response-modal {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 205px;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
  z-index: 100;
  background: white;
  box-shadow: 3px 3px 5px #BFBDBD;
}
.rdw-quick-response-modal-suggestions {
  overflow: auto;
  padding: 0 15px 15px;
}
.rdw-quick-response-modal-suggestions button{
  word-wrap: break-word;
}
.rdw-quick-response-modal-label {
  font-size: 15px;
  padding: 5px 15px 0 15px;
}
.rdw-quick-response-modal-input {
  margin-top: 5px;
  border-radius: 2px;
  border: 1px solid #F1F1F1;
  height: 25px;
  margin-bottom: 15px;
  padding: 0 5px;
}
.rdw-quick-response-modal-input:focus {
  outline: none;
}
.rdw-quick-response-modal-buttonsection {
  margin: 0 auto;
}
.rdw-quick-response-modal-target-option {
  margin-bottom: 20px;
}
.rdw-quick-response-modal-target-option > span {
  margin-left: 5px;
}
.rdw-quick-response-modal-btn {
  margin-left: 10px;
  width: 75px;
  height: 30px;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
  cursor: pointer;
  background: white;
  text-transform: capitalize;
}
.rdw-quick-response-modal-btn:hover {
  box-shadow: 1px 1px 0px #BFBDBD;
}
.rdw-quick-response-modal-btn:active {
  box-shadow: 1px 1px 0px #BFBDBD inset;
}
.rdw-quick-response-modal-btn:focus {
  outline: none !important;
}
.rdw-quick-response-modal-btn:disabled {
  background: #ece9e9;
}
.rdw-quick-response-dropdownoption {
  height: 40px;
  display: flex;
  justify-content: center;
}
.rdw-history-dropdown {
  width: 50px;
}
