.suggestion-wrapper {
  position: relative;
}
.suggestion-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 15px;
  border: 1px solid #F1F1F1;
  min-width: 100px;
}
.suggestion-option {
  padding: 7px 5px;
}
.suggestion-option:hover {
  background-color: #F1F1F1;
}
.mention {
  color: #ff2a2a;
  background-color: #fff0f2;
  padding: 1px 2px;
  border-radius: 2px;
}
