.link-decorator-wrapper {
  position: relative;
}
.link-decorator-link {
  color: blue;
  text-decoration: underline;
}
.link-decorator-icon {
  position: absolute;
  left: 40%;
  top: 0;
  cursor: pointer;
  background-color: white;
}
.mention-suggestion-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 15px;
}
.mention-suggestion:hover {
  background-color: red;
}
