.rdw-suggestion-wrapper {
  position: relative;
}
.rdw-quick-response-suggestion-dropdown {
  position: absolute;
  border: 1px solid #F1F1F1;
  min-width: 250px;
  max-height: 150px;
  overflow: auto;
  background: white;
  z-index: 100;
}
.rdw-suggestion-option {
  padding: 7px 5px;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  background-color: #fff;
  height: 31px;
  width: 100%;
}
.rdw-suggestion-option:hover,
.rdw-suggestion-option:focus {
  text-decoration: underline;
  background-color: #F1F1F1;
}
.rdw-suggestion-option-active {
  background-color: #F1F1F1;
  text-decoration: underline;
}
