.docs-root {
  width: 100%;
  margin: 30px;
}
.docs-label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}
.docs-section {
  margin: 20px 0 40px;
}
code {
  padding: 20px;
  font-size: 13px;
  display: inline-flex;
  flex-direction: column;
  background-color: #d7fbff;
  color: #0b082f;
}
.docs-desc {
  width: 75%;
  font-size: 15px;
  margin-bottom: 10px;
}
.docs-text {
  width: 75%;
  font-size: 17px;
  margin: 15px 0;
}
