.rdw-counter-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative;
}

.rdw-editor-counter .char-counter {
    display: block

}

.char-counter::before {
    content: "chars: ";
}

.rdw-editor-counter .word-counter {
    display: block

}

.word-counter::before {
    content: "words: ";
}

.rdw-editor-counter .line-counter {
    display: block

}

.line-counter::before {
    content: "lines: ";
}