.Editor {
    /* max-height: 150px; */
  overflow: auto;
  box-sizing: border-box;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
}

.Editor-wrapper {
  box-sizing: content-box;
  border-radius: var(--spacing-m);
  border: var(--border);
}

.Editor-wrapper:focus {
  outline: none;
}

.Editor::-webkit-scrollbar {
  width: var(--spacing-2);
}

.Editor::-webkit-scrollbar-thumb {
  border: var(--spacing-s) solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: var(--spacing);
  background-color: var(--secondary-dark);
}

.Editor-seperator {
  margin-left: var(--spacing);
  margin-right: var(--spacing);
  background-color: var(--secondary);
  width: var(--spacing-xs);
  height: 24px;
}

.Editor-mention-dropdown {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  min-width: var(--spacing-7);
  max-height: 150px;
  overflow: auto;
}

.Editor-mention-chip {
  display: inline-flex;
}

.Editor-mention-dropdown::-webkit-scrollbar {
  width: var(--spacing);
}

.Editor-mention-dropdown::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: var(--spacing-m);
}

figure {
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: fit-content;
}