.rdw-storybook-root {
  margin: 50px;
  width: 90%;
}
.rdw-storybook-wrapper {
}
.rdw-storybook-editor {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 2px;
  height: 200px;
}
.rdw-storybook-toolbar {
  top: -130px;
}
.rdw-storybook-textarea {
  margin-top: 20px;
  resize: none;
  width: 100%;
  border: 1px solid #F1F1F1;
  height: 100px;
}
