.playground-root {
  margin: 50px;
  width: 90%;
}
.playground-label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.playground-editorSection {
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
}
.playground-wrapper {
  height: 400px;
  width: 600px;
}
.playground-editor {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 2px;
  height: 95%;
}
.playground-editorWrapper {
}
.playground-toolbar {
  width: 100%;
  top: -130px;
}
.playground-content {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  border-radius: 2px;
  height: 380px;
}
.no-focus:focus {
  outline: none;
}
.dropdownClassName {
  background-color: red;
  max-height: 100px;
}
.className {
  background-color: green;
}
