.demo-color-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  position: relative;
}
.demo-icon-wrapper {
  border: 1px solid #F1F1F1;
  padding: 3px 5px;
}
.demo-icon {
  width: 20px;
}
.demo-color-modal {
  position: absolute;
  right: -70px;
  top: 135%;
  z-index: 10;
}